.todo_header {
  padding: 10px;
  margin: 0 10px;
  background-color: #b2c9f8;
  width: 800px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 800;
  color: white;
}

.delete_button {
  display: block;
  position: relative;
  float: left;
  padding: 5px;
  margin: 7px;
  font-size:10px;
  font-weight: 800;
  text-align: center;
  color: #FFF;
  background: #b2c9f8;
  border-color: #8eb0f6;
  border-radius: 5px;
}
.delete_button:hover {
  background: #8eb0f6;
}
